.ditz-config
bin
fabfile.py
*.pyc
webfaction.ini
.installed.cfg
.mr.developer.cfg
develop-eggs
db.sqlite
parts
src
.sass-cache
assets
build
.env
lakaxita/static/js/lakaxita/templates/*.html
lakaxita/static/js/lakaxita/templates/*/*.html
