[buildout]

extends = versions.cfg
versions = versions
extensions =
  mr.developer
  buildout.bootstrap
#  buildout.dumppickedversions

auto-checkout = *
dump-picked-versions-file = versions.cfg
unzip = true

parts =
    django
    rubygems

eggs =
    South
    django-autoslug
    django-grappelli
    django-markitup
    django-feedback
    django_compressor
    django-preferences
    django-monkey-team
    django-badbrowser
    django-celery
    django-infinite-pagination
    django-adminfiles
    djangoembed
    markdown
    yammy
    simplejson
    httplib2
    pil
    BeautifulSoup

    sorl-thumbnail
    pillow
    

[django]
recipe = djangorecipe
project = lakaxita
wsgi=true
settings = settings.production
eggs =
  ${buildout:eggs}

[rubygems]
recipe = rubygemsrecipe
gems = 
    sass


[sources]
django-feedback = git https://github.com/unaizalakain/django-feedback.git
django-preferences = git https://github.com/praekelt/django-preferences.git
django-badbrowser = git https://github.com/unaizalakain/django-badbrowser.git
django-adminfiles = hg https://bitbucket.org/unaizalakain/django-adminfiles
