[buildout]

extends = versions.cfg
versions = versions
extensions =
  mr.developer
  buildout.bootstrap
# buildout.dumppickedversions

auto-checkout = *
dump-picked-versions-file = versions.cfg
unzip = true
socket-timeout = 3

parts =
    django
    rubygems

eggs =
    South
    django-autoslug
    django-grappelli
    django-markitup
    django_compressor
    django-preferences
    django-badbrowser
    django-celery
    django-infinite-pagination
    django-mptt
    django_polymorphic
    django-filebrowser
    django-modeltranslation
    django-tastypie
    grappelli-modeltranslation
    djangoembed
    backbone_tastypie
    markdown
    milkman
    yammy
    simplejson
    httplib2
    pillow
    BeautifulSoup
    sorl-thumbnail
    pillow
    

[django]
recipe = djangorecipe
project = lakaxita
eggs =
  ${buildout:eggs}

[rubygems]
recipe = rubygemsrecipe
gems = 
    sass
