@import /static/fontcustom/fontcustom.css

$darkergrey: #1e1e1e
$darkgrey: #323232
$grey: #828282 
$lightgrey: #6a6a6a
$lightergrey: #fafafa
$font: "Titillium web"

@font-face
    font-family: "Titillium web"
    src: url("/static/fonts/Titillium_Web/TitilliumWeb-Regular.ttf")

@font-face
    font-family: "Titillium web"
    font-weight: bold
    src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf")

@font-face
    font-family: "Titillium web"
    font-style: italic
    src: url('../fonts/Titillium_Web/TitilliumWeb-Italic.ttf')

@font-face
    font-family: "Titillium web"
    font-weight: bold
    font-style: italic
    src: url('../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf')

img#beta
    width: 5%
    position: fixed
    right: 0
    top: 5em

[class^="icon-"]
    line-height: .8em
    font-size: 8em
    padding-top: .2em
    margin-bottom: -.7em
    vertical-align: bottom

a
    color: white
    text-decoration: none

body
    font-family: $font
    background: url("/static/imgs/okupa.svg") no-repeat top center $darkergrey
    color: white
    min-width: 500px

.future
    text-decoration: line-through
.lost-found
    background: #d36216
.groups
    background: #228622
.gallery
    background: #862272
.news
    background: #86860e
.contact
    background: #0c7070

button, input#submit, input#close
    padding: .3em
    margin: .5em
    color: $lightergrey 
    font-family: $font
    font-weight: bold
    background: $darkergrey
    border: outset #060606 .1em
    cursor: pointer

.popupbackground
    position: fixed
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: red
    z-index: 10000
    background: rgba(26, 26, 26, .8)

.popup
    background: $darkgrey
    width: 50%
    position: fixed
    top: 20%
    left: 25%
    border: .1em solid $grey
    padding: 2%



header
    a#logo
        position: absolute
        top: 0
        left: 0
        z-index: 10
        padding: 1%
        width: 20%
        background: black
        img
            width: 100%

    div#info
        position: absolute
        top: 0
        right: 0
        background: black
        margin: 0
        text-align: right
        padding: 1%
        ul#license
            display: inline-block
            padding: 0
            margin: 0
            vertical-align: middle
            li
                list-style: none
        ul#language
            padding: 0
            margin: 0
            display: inline-block
            vertical-align: middle
            font-size: 0.8em
            li
                display: inline
                margin: 0 0 0 20%
                a
                    border: 0.15em solid white
                    padding: 0.4em

nav
    position: fixed
    bottom: 0
    width: 100%
    left: 0
    z-index: 10000
    ul
        margin: 0
        padding: 0
        li
            display: inline-block
            width: 18%
            font-weight: bold
            text-align: center
            padding: 1%
            a
                cursor: pointer
            img
                width: 15%
                vertical-align: middle
                margin-left: 3%

div#about
    margin: 4em auto
    width: 50%
    div#text
        display: inline-block
        width: 70%
        margin: 0 2.5% 0 0
        h2
            margin: 0
            text-align: right
        p
            font-size: 0.9em
            text-align: right
    div#image
        display: inline-block
        width: 27.5%
        img
            width: 100%

img.slide
    width: 100%
    box-shadow: 0 0 1em $grey
    background: $grey

section#menu
    position: absolute
    bottom: 2em
    left: 0
    width: 100%


section.scroll
    img.arrow
        position: absolute
        margin-top: 8%
        z-index: 2
        cursor: pointer
    img.arrow.left
        left: 0
    img.arrow.right
        right: 0
        z-index: 2
        cursor: pointer

    .kinetic
        overflow: hidden

        ul.inner-scroll
            padding: 0
            margin: 0
            white-space: nowrap
            li
                position: relative
                display: inline-block
                width: 15%
                margin: 2% 2% 3% 2%
                vertical-align: top
                p.hover
                    display: none
                    position: absolute
                    width: 100%
                    top: 2em
                    left: 0
                    text-align: center
                img.icon
                    width: 15%
                    position: absolute
                    top: -5%
                    right: -5%
                    border-radius: 100%
                h3
                    white-space: normal
                    font-size: .8em
                    font-weight: normal
            li:hover
                p.hover
                    display: inline
                img.slide
                    opacity: 0.5


section#content
    margin: 10%
    img#loading
        width: 30%
        position: absolute
        top: 0
        left: 35%

    img.arrow#left
        left: 7%
    img.arrow#right
        right: 7%
        z-index: 2
        cursor: pointer
    
    
    section.left
        width: 20%
        margin-right: 5%
        display: inline-block
        div#return
            font-size: .8em
            margin: 1em 0
        img.icon
            width: 10%
            vertical-align: middle
            margin-right: 1%

    section.right
        width: 75%
        display: inline-block
        margin: 0
        vertical-align: top
        h3
            margin-top: 0
        p.hover
            color: $lightergrey
    
    form#notification
        div
            margin-bottom: 2em
            label
                vertical-align: top
        div:last-child
            margin-bottom: 0

