/*
Syntax error: The line was indented 2 levels deeper than the previous line.
        on line 187 of lakaxita/static/css/main.sass

182:         left: 0
183:     img.arrow#right
184:         right: 0
185: <<<<<<< HEAD
186: =======
187:         z-index: 2
188:         cursor: pointer
189:         img.icon
190:             width: 5%
191: >>>>>>> lost&found icon width changed
192: 

Backtrace:
lakaxita/static/css/main.sass:187
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/engine.rb:458:in `tree'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/engine.rb:345:in `_to_tree'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/engine.rb:262:in `render'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `start'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `initialize'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `new'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `start'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/listen-0.7.3/lib/listen/multi_listener.rb:44:in `start'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:445:in `watch_or_update'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/lib/ruby/gems/1.8/gems/sass-3.2.7/bin/sass:9
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/bin/sass:23:in `load'
/home/koxta/proiektuak/lakaxita/lakaxita/parts/rubygems/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: The line was indented 2 levels deeper than the previous line.\A         on line 187 of lakaxita/static/css/main.sass\A \A 182:         left: 0\A 183:     img.arrow#right\A 184:         right: 0\A 185: <<<<<<< HEAD\A 186: =======\A 187:         z-index: 2\A 188:         cursor: pointer\A 189:         img.icon\A 190:             width: 5%\A 191: >>>>>>> lost&found icon width changed\A 192: "; }
